@import 'vars';
@import 'mixins';

.container{
    color: $textcolor;
    width: $width;

}
.prep{
   color: $textcolor; 
}
.nav {
 display: flex;
 gap: 16px;

&__link {
 text-decoration: none;
 font-family: sans-serif;
 font-style: normal;
}
}
.content{
    display: flex;
    @include disflex();
    
&__item{
    width: $widthmenu;
    gap: $widthmenu;
    height: 200px;
 border: $border;
}
}


